{% load lava_template_tags static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% with p=page_breadcrumb_id|get_page %}
            {{ p.title|default:'Lava home page' }}
        {% endwith %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href={% static 'lava/assets/images/logo/favicon.png' %}>

    <!-- page css -->

    <!-- Core css -->
    <link href={% static 'lava/assets/css/app.min.css' %} rel="stylesheet">

    <!-- Extra styles -->
    {% block extra_css %}
    {% endblock extra_css %}

</head>

<body>
    <div class="app">
        <div class="container-fluid">
            <div class="d-flex full-height p-v-20 flex-column justify-content-between">

                <!-- Content Wrapper START -->
                <div class="main-content" style="flex: 1">
                    <!-- Content goes Here -->
                    {% block main %}
                    {% endblock main %}
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content">
                        <p class="m-b-0">Copyright © 2022 EKBlocks. All rights reserved.</p>
                        <!-- <span>
                            <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
                            <a href="" class="text-gray">Privacy &amp; Policy</a>
                        </span> -->
                    </div>
                </footer>
                <!-- Footer END -->
            </div>

        </div>

    </div>

    
    <!-- Core Vendors JS -->
    <script src={% static 'lava/assets/js/vendors.min.js' %}></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src={% static 'lava/assets/js/app.min.js' %}></script>

    <!-- Extra js -->
    {% block extra_js %}
    {% endblock extra_js %}

</body>

</html>