
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a href="{% url 'lava:home' %}">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#">
                    <span class="icon-holder">
                        <i class="anticon anticon-dollar"></i>
                    </span>
                    <span class="title">Invoices</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#">
                    <span class="icon-holder">
                        <i class="anticon anticon-file-text"></i>
                    </span>
                    <span class="title">Proposals</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#">
                    <span class="icon-holder">
                        <i class="anticon anticon-swap"></i>
                    </span>
                    <span class="title">Transactions</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Coming soon">
                    <span class="icon-holder">
                        <i class="anticon anticon-team"></i>
                    </span>
                    <span class="title">Customers</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Coming soon">
                    <span class="icon-holder">
                        <i class="anticon anticon-shop"></i>
                    </span>
                    <span class="title">Suppliers</span>
                </a>
            </li>
        </ul>
    </div>
</div>
