{% load i18n static %}

{% block subject %}
{% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account activation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Cairo', sans-serif;
        }
        body {
            padding: 0;
            margin: 0;
        }
        #action-btn:hover {
            background-color: #0abfd5;
        }
    </style>
</head>
<body>
    <div style="
            background-color: #f0f0f0;
            width: 100%;
    ">
        <div style="
            margin: 50px auto;
            padding: 50px;
            width: 600px;
        ">
            <img style="height: 80px;" src="{{ protocol }}://{{ domain }}{% static logo_file_path %}" alt="logo">
            <div style="
                background-color: #fefefe;
                padding: 10px 20px;
                border-radius: 5px;
            ">
                <h1>{% trans "Click the button below to activate your account." %}</h1>
                <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" id="action-btn" style="
                    padding: 10px 20px;
                    background-color: #00acc1;
                    color: white !important;
                    font-weight: bold;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: .2s ease-in-out;
                ">
                    {% trans "Activate your account" %}
                </a>
                <p style="color: #777;">
                    <br />
                    {% trans "Thank you for signing up to our service." %}<br /><br />
                    {% trans "Cheers" %},<br />
                    EKBlocks
                </p>
            </div>
            <div style="
                border-top: 1px solid #333;
                width: 100%;
                margin-top: 30px;
                padding-top: 10px;
                text-align: center;
            ">
                <p>
                    {% trans "This email was sent to " %}
                    <span style="color: #00acc1">{{ user.email }}</span>
                    <br />
                    {% trans "Copyright © 2022" %}
                    <a href="https://www.ekblocks.com/" target="_blank"
                        style="color: #00acc1">
                        EKBlocks
                    </a>
                    {% trans "All rights reserved." %}
                </p>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock html_body %}