
{% extends 'lava/index_empty.html' %}

{% block extra_css %}
    <title>Account activation</title>
{% endblock extra_css %}

{% block main %}
    <div
        class="d-flex align-items-center justify-content-center flex-wrap flex-column w-100"
        style="min-height: calc(100vh - 110px);"
    ">
        {% if status == 'success' %}
            <h3>Your account has been activated successfully!</h3>
            <br />
            <p>Go back to InfinityPoshClub app on your mobile phone and try to login to your account.</p>
        {% else %}
            <h3>Something went wrong. Sorry for the inconvenience.</h3>
            <br />
            <p>Please try again later.</p>
            {% if content %}
                <br />
                <p>Error: {{ content }}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock main %}
