{% extends 'lava/index_empty.html' %}

{% block extra_css %}
    <title>Account activation</title>
{% endblock extra_css %}

{% block main %}
    <div
        class="d-flex align-items-center justify-content-center flex-wrap flex-column w-100"
        style="min-height: calc(100vh - 110px);"
    >
        <h3>Your password has been changed successfully!</h3>
        <br />
        <p>Go back to InfinityPoshClub app on your mobile phone and try to login with your new password.</p>
    </div>
{% endblock main %}
