
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account activation</title>

    <style>
        body {
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
        .vh-center {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 80%;
        }
    </style>
</head>
<body>
    <div class="vh-center">
        <h3>Your password has been changed successfully!</h3>
        <br />
        <p>Go back to InfinityPoshClub app on your mobile phone and try to login with your new password.</p>
    </div>
    <p>content: {{ content }}</p>
</body>
</html>
